%p#notice
  = notice
%strong.col-xs-12
  .col-xs-2
    = link_to 'Add Exercise', new_exercise_path({day: @day.id})
  .col-xs-2
    = link_to 'Add Cardio', new_cardio_path({day: @day.id})
  .col-xs-2
    = link_to 'Add Meal', new_meal_path({day: @day.id})
  .col-xs-2
    = link_to 'Add Super Challenge', new_super_challenge_path({day: @day.id})
  .col-xs-2
    = link_to 'Add Crunches/Calf Raises', new_calf_crunch_path({day: @day.id})
  .col-xs-2
    = link_to 'Add Pushups', new_pushup_path({day: @day.id})
  %br
  %br
%br
%br
%p.col-xs-12
  %strong
    = @day.date.strftime("%b %d, %Y")
  - if @day.exercises.present?
    .col-xs-12
      %strong
        Exercises:
      %br
      - @day.exercises.each do |exercise|
        .col-xs-3.height-selector{href: "#{exercise_path(exercise, day: @day.id)}"}
          %strong
            = link_to exercise.name, exercise
          %ul
            - if exercise.notes.present?
              %li
                %strong
                  Notes:
                = exercise.notes
            %li
              %strong
                Set One Weight:
              = exercise.set_one_weight
            %li
              %strong
                Set Two Weight:
              = exercise.set_two_weight
            %li
              %strong
                Set Three Weight:
              = exercise.set_three_weight
            %li
              %strong
                Set Four Weight:
              = exercise.set_four_weight
            %li
              %strong
                AMRAP TOTAL:
              = exercise.amrap_quantity
  - if @day.calf_crunches.present?
    .col-xs-12
      %strong
        Crunches/Calf Raises:
      %br
      - @day.calf_crunches.each do |calf_crunch|
        .col-xs-3.height-selector.calf-height-selector{href: "#{calf_crunch_path(calf_crunch, day: @day.id)}"}
          %strong
            - if calf_crunch.set_type == "Calf"
              = link_to "Calf Set #{calf_crunch.set_num}", calf_crunch
            - else
              = link_to "Crunch Set #{calf_crunch.set_num}", calf_crunch
          %ul
            %li
              %strong
                Reps:
              = calf_crunch.reps
  - if @day.pushups.present?
    .col-xs-12{style: "padding-bottom:10px;"}
      %strong
        Push ups:
      %br
      - @day.pushups.each do |pushup|
        .col-xs-3.height-selector.push-up-height-selector{href: "#{pushup_path(pushup, day: @day.id)}"}
          %ul
            %li
              %strong
                First Set Reps:
              = pushup.set_one_reps
            %li
              %strong
                Second Set Reps:
              = pushup.set_two_reps
            %li
              %strong
                Third Set Reps:
              = pushup.set_three_reps
  - cardio = @day.cardio
  - if cardio.present?
    .col-xs-12{style: "padding-bottom:10px;"}
      %strong
        = link_to cardio.name, cardio
      %br
      %div.col-xs-3.height-selector.cardio-height-selector{href: "#{cardio_path(cardio, day: @day.id)}"}
        %ul
          %li
            %strong
              Distance:
            = cardio.distance
          %li
            %strong
              Duration:
            = cardio.duration
          - if cardio.notes.present?
            %li
              %strong
                Notes:
              = cardio.notes
          %li
            %strong
              60% Speed:
            = cardio.sixty_percent_speed
          %li
            %strong
              80% Speed:
            = cardio.eighty_percent_speed
          %li
            %strong
              90% Speed:
            = cardio.ninety_percent_speed
          %li
            %strong
              100% Speed:
            = cardio.one_hundred_percent_speed
          %li
            %strong
              Times Walked:
            = cardio.times_walked
  - challenge = @day.super_challenge
  - if challenge.present?
    .col-xs-12{style: "padding-bottom:10px;"}
      %strong
        = link_to "Super Challenge", challenge
      %br
      %div.col-xs-3.height-selector.super_chall-height-selector{href: "#{super_challenge_path(challenge, day: @day.id)}"}
        %ul
          - if challenge.notes.present?
            %li 
              %strong
                Notes:
              = challenge.notes
          %li 
            %strong
              Push Ups:
            = challenge.push_ups
          %li 
            %strong
              Pull Ups:
            = challenge.pull_ups
          %li 
            %strong
              Duration:
            = challenge.duration
          %li 
            %strong
              Distance:
            = challenge.distance
          %li 
            %strong
              Times Walked:
            = challenge.times_walked
  - if @day.meals.present?
    .col-xs-12{style: "padding-bottom:10px;"}
      %strong
        Meals
      %br
      - @day.meals.each do |meal|
        %div.col-xs-3.height-selector{href: "#{meal_path(meal, day: @day.id)}"}
          - if meal.name
            %strong
              = link_to meal.name, meal
          %ul
            - if meal.notes.present?
              %li
                %strong
                  Notes:
                = meal.notes
            %li
              %strong
                Calories:
              = number_with_precision(((meal.fats * 9) + (meal.carbs * 4) + (meal.protein * 4)),precision: 2)
            %li
              %strong
                Meal number:
              = meal.meal_number
            %li
              %strong
                Fats:
              = meal.fats
            %li
              %strong
                Saturated fats:
              = meal.saturated_fats
            %li
              %strong
                Cholesterol:
              = meal.cholesterol
            %li
              %strong
                Sodium:
              = meal.sodium
            %li
              %strong
                Carbs:
              = meal.carbs
            %li
              %strong
                Fiber:
              = meal.fiber
            %li
              %strong
                Sugar:
              = meal.sugar
            %li
              %strong
                Protein:
              = meal.protein
= link_to 'Edit', edit_day_path(@day)
|
= link_to 'Back', days_path
:javascript
  $(".height-selector").on("click", function(){
    window.location = $(this).attr("href");
  })