.container
  %p#notice
    = notice

  %p.col-xs-12
    %strong
      = @day.date.strftime("%b %d, %Y")
    %hr
    - if @day.exercises.present?
      - @day.exercises.each do |exercise|
        %div.col-xs-3
          %strong
            Exercises:
          %ul
            %li
              %strong
                = link_to exercise.name, exercise
            %ul
              %li
                %strong
                  Notes
                = exercise.notes
              %li
                %strong
                  Image Url
                = exercise.img_url
              %li
                %strong
                  Set One Weight
                = exercise.set_one_weight
              %li
                %strong
                  Set Two Weight
                = exercise.set_two_weight
              %li
                %strong
                  Set Three Weight
                = exercise.set_three_weight
              %li
                %strong
                  Set Four Weight
                = exercise.set_four_weight
              %li
                %strong
                  AMRAP TOTAL
                = exercise.amrap_quantity
            %hr
    - cardio = @day.cardio
    - if cardio.present?
      %div.col-xs-3
        %strong
          = link_to cardio.name, cardio
        %ul
          %li
            %strong
              Distance:
            = cardio.distance
          %li
            %strong
              Duration:
            = cardio.duration
          %li
            %strong
              Notes:
            = cardio.notes
          %li
            %strong
              60% Speed:
            = cardio.sixty_percent_speed
          %li
            %strong
              80% Speed:
            = cardio.eighty_percent_speed
          %li
            %strong
              90% Speed:
            = cardio.ninety_percent_speed
          %li
            %strong
              100% Speed:
            = cardio.one_hundred_percent_speed
          %li
            %strong
              Times Walked:
            = cardio.times_walked
          %hr
    - challenge = @day.super_challenge
    - if challenge.present?
      %div.col-xs-3
        %strong
          = link_to "Super Challenge", challenge
        %ul
          %li 
            %strong
              Notes:
            = challenge.notes
          %li 
            %strong
              Push Ups:
            = challenge.push_ups
          %li 
            %strong
              Pull Ups:
            = challenge.pull_ups
          %li 
            %strong
              Duration:
            = challenge.duration
          %li 
            %strong
              Distance:
            = challenge.distance
          %li 
            %strong
              Times Walked:
            = challenge.times_walked
          %hr
    - if @day.meals.present?
      - @day.meals.each do |meal|
        %div.col-xs-3
          - if meal.name
            %strong
              = link_to meal.name, meal
          %ul
            %li
              %strong
                Meal Number:
              = meal.meal_number
            %li
              %strong
                Notes:
              = meal.notes
            %li
              %strong
                Protein:
              = meal.protein
            %li
              %strong
                Carbs:
              = meal.carbs
            %li
              %strong
                Fats:
              = meal.fats
            %li
              %strong
                Sugar:
              = meal.sugar
            %li
              %strong
                Sodium:
              = meal.sodium
            %li
              %strong
                Saturated Fats:
              = meal.saturated_fats
            %li
              %strong
                Cholesterol:
              = meal.cholesterol
            %li
              %strong
                Fiber:
              = meal.fiber
            %hr
  %strong.col-xs-12
    = link_to 'Add Exercise', new_exercise_path({id: @day.id})
    %br
    = link_to 'Add Cardio', new_cardio_path({id: @day.id})
    %br
    = link_to 'Add Meal', new_meal_path({id: @day.id})
    %br
    = link_to 'Add Super Challenge', new_super_challenge_path({id: @day.id})
    %br

    = link_to 'Edit', edit_day_path(@day)
    |
    = link_to 'Back', days_path
