<% title "- #{@calf_crunch.set_type} Set #{@calf_crunch.set_num}" %>
<p id="notice"><%= notice %></p>

<p>
  <% if @calf_crunch.set_type == "Calf" %> 
    <strong>Calf Raises:</strong>
  <% else %>
    <strong>Crunches:</strong>
  <% end %>
</p>

<p>
  <strong>Set:</strong>
  <%= @calf_crunch.set_num %>
</p>

<p>
  <strong>Reps:</strong>
  <%= @calf_crunch.reps %>
</p>

<%= link_to 'Edit', edit_calf_crunch_path(@calf_crunch) %> |
<%= link_to 'Home', root_path %> |
<%= link_to 'Destroy', @calf_crunch, method: :delete, data: { confirm: 'Are you sure?' } %>