<% if @super_challenge.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@super_challenge.errors.count, "error") %> prohibited this super_challenge from being saved:</h2>

    <ul>
    <% @super_challenge.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<div class="field">
  <%= f.label "Notes" %><br>
  <%= f.text_field :notes %>
</div>
<div class="field">
  <%= f.label "Push Ups (Quantity Only)" %><br>
  <%= f.number_field :push_ups, step: 'any' %>
</div>
<div class="field">
  <%= f.label "Pull Ups (Quantity Only)" %><br>
  <%= f.number_field :pull_ups, step: 'any' %>
</div>
<div class="field">
  <%= f.label "Duration (Hours-Minutes-Seconds)" %><br>
  <%= f.hidden_field :duration, step: 'any' %>
  <%= number_field_tag 'hours', 0, {style: "width: 50px;"} %> - 
  <%= number_field_tag 'minutes', 0, {style: "width: 50px;"} %> - 
  <%= number_field_tag 'seconds', 0, {style: "width: 50px;"} %>
</div>
<div class="field">
  <%= f.label "Distance in miles (Quantity Only)" %><br>
  <%= f.number_field :distance, step: 'any' %>
</div>
<div class="field">
  <%= f.label "Times Walked" %><br>
  <%= f.number_field :times_walked, step: 'any' %>
</div>

<div class="actions">
  <%= f.submit %>
</div>
<script>
  if (document.URL.split('/')[document.URL.split('/').length - 1] == 'edit' && $("#super_challenge_duration").val() != 0) {

    var hours = parseInt($("#super_challenge_duration").val() / 60);
    if (!isNaN(hours)){
      $("#hours").val(hours);
    }

    var minutes = parseFloat($("#super_challenge_duration").val() / 60);
    if (!isNaN(minutes)){
      $("#minutes").val(parseInt(60 * (minutes - hours)))
    }

    var seconds = parseFloat(60 * (minutes - hours))
    if (!isNaN(seconds)){
      $("#seconds").val((60 * (seconds - parseInt(60 * (minutes - hours)))).toFixed());
    }
  }
  $("form").on('submit',function(){
    $("#super_challenge_duration").val(parseInt($("#hours").val() * 60) + parseInt($("#minutes").val()) + parseFloat($("#seconds").val() / 60));
  })
</script>