<%= form_for(@super_challenge) do |f| %>
  <% if @super_challenge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@super_challenge.errors.count, "error") %> prohibited this super_challenge from being saved:</h2>

      <ul>
      <% @super_challenge.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.hidden_field :day_id, value: @id %>

  <div class="field">
    <%= f.label "Notes" %><br>
    <%= f.text_field :notes %>
  </div>
  <div class="field">
    <%= f.label "Push Ups (Quantity Only)" %><br>
    <%= f.text_field :push_ups, step: 'any' %>
  </div>
  <div class="field">
    <%= f.label "Pull Ups (Quantity Only)" %><br>
    <%= f.text_field :pull_ups, step: 'any' %>
  </div>
  <div class="field">
    <strong>Duration In Minutes, seconds in decimal. Example: 1 Minute, 30 seconds should be written 1.5; 1 hour, 20 minutes, 30 seconds should be written 80.5</strong>
    <br>
    <%= f.text_field :duration, step: 'any' %>
  </div>
  <div class="field">
    <%= f.label "Distance (Quantity Only)" %><br>
    <%= f.text_field :distance, step: 'any' %>
  </div>
  <div class="field">
    <%= f.label "Times Walked" %><br>
    <%= f.text_field :times_walked, step: 'any' %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
