<% if @exercise.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@exercise.errors.count, "error") %> prohibited this exercise from being saved:</h2>

    <ul>
    <% @exercise.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="field">
  <%= f.label :name %><br>
  <%= f.select :name, ["Lunges", "Squats", "Romanian Deadlifts", "Narrow Lat Pull Downs", "Wide Lat Pull-Down", "Dumbbell Row", "Dumbbell Incline Press", "Dumbbell Bench Press", "Dumbbell Pec Fly", "Rear Deltoid Raise", "Dumbbell Side Raise", "Seated Dumbbell Tricep Extension", "Flat Dumbbell Tricep Extension", "Dumbbell Pro Curls", "Dumbbell Hammer Curls", "Dumbbell Shoulder Press", "Incline Dumbbell Tricep Extension", "Ham Ball Curls"] %>
</div>
<div class="field">
  <%= f.label :notes %><br>
  <%= f.text_field :notes %>
</div>
<div class="field">
  <%= f.label "Image Url of the exercise (Not neccessary)" %><br>
  <%= f.text_field :img_url %>
</div>
<div class="field">
  <%= f.label :set_one_weight %><br>
  <%= f.number_field :set_one_weight %>
</div>
<div class="field">
  <%= f.label :set_two_weight %><br>
  <%= f.number_field :set_two_weight %>
</div>
<div class="field">
  <%= f.label :set_three_weight %><br>
  <%= f.number_field :set_three_weight %>
</div>
<div class="field">
  <%= f.label :set_four_weight %><br>
  <%= f.number_field :set_four_weight %>
</div>
<div class="field">
  <%= f.label :amrap_quantity %><br>
  <%= f.number_field :amrap_quantity %>
</div>

<div class="actions">
  <%= f.submit %>
</div>