<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @exercise.name %>
</p>
<% if @exercise.notes.present? %>
  <p>
    <strong>Notes:</strong>
    <%= @exercise.notes %>
  </p>
<% end %>
<p>
  <strong>Image Url:</strong>
  <%= @exercise.img_url %>
</p>
<p>
  <strong>Set One Weight:</strong>
  <%= @exercise.set_one_weight %>
</p>
<p>
  <strong>Set Two Weight:</strong>
  <%= @exercise.set_two_weight %>
</p>
<p>
  <strong>Set Three Weight:</strong>
  <%= @exercise.set_three_weight %>
</p>
<p>
  <strong>Set Four Weight:</strong>
  <%= @exercise.set_four_weight %>
</p>
<p>
  <strong>Amrap Total:</strong>
  <%= @exercise.amrap_quantity %>
</p>

<%= link_to 'Edit', edit_exercise_path(@exercise, day: @day_id) %> |
<%= link_to 'Home', root_path %> |
<%= link_to 'Destroy', @exercise, method: :delete, data: { confirm: 'Are you sure?' } %>