<!DOCTYPE html>
<html>
<head>
  <% if current_user %>
    <title><%= current_user.name%>Ripped</title>
  <% else %>
    <title>Let's Get Ripped</title>
  <% end %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
